.left{  /* left click button */
    font-size: x-large;
    width: 50px;
    height: 50px;
    background: blue;
    margin: auto;
}
.left:hover{    /* change color on hover */
    background: grey;
}
.right{ /* right click button */
    font-size: x-large;
    width: 50px;
    height: 50px;
    background: blue;
    margin: auto;
}

.right:hover{   /* change color on hover */
    background: grey;
}
.pic{   /* adjust image size */
    height: 500px;
    width: 700px;
}